@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --modal-duration: 1s;
    --primary-color: #30336b;
    --secondary-color: #be2edd;
}

* {
    box-sizing: border-box;
}